<html lang="en-us">
	<head>
		<title>search results v1</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/searchResults.css')  }}">
	</head>
	<body>
		<div class="mainContent">
			<div class="searchBarContainer">
				<p><strong>Departments:</strong> <b>Deli</b>, <b>Meat</b>, <b>Produce</b>, <b>home</b>, <b>Cosmetics</b>, <b>Gardening</b>, <b>houseware</b></p>
				<form id="searchQuery" action="/v1/endpoint/productSearch" method="POST">
					<input type="search" id="searchBar" name="search" placeholder="Search {{store}}" autocomplete="off">
				</form>
				<div id="cartBtnContainer">
					<img id="cartBtn" src="{{ url_for('static', filename='images/icons8-cart-64.png')  }}">
					<p id="cartQty">1</p>
				</div>
			</div>

			<!-- searchResultsContainer -->
			<div class="searchResultsContainer" id="searchResultsContainerId">
				{% for item in items %}
					<div class="searchResult">
						<img src="{{item.smlImage}}">
						<p>{{item.name}} {{item.size}}- <b style="text-decoration: underline;">@{{item.brand}}</b></p>
						<h3>${{item.price}}</h3>
					</div>
				{% endfor %}
			</div>
			<!--cart setup -->
			<div id="shoppingCartContainer">
				<img id="cartCloseBtn" src="{{ url_for('static', filename='images/icons8-close-50.png') }}">
				<div id="cartItems">
					<div class="itemInCart">
						<img src="https://www.kroger.com/product/images/small/front/0004933102109">
						<p>Herbal Essences Tea Tree Clarifying Shampoo 29.2 fl oz- <b>@Herbal Essences<b></p>
					</div>
				</div>
			</div>
		</div>

		<script>
			const searchBar = document.getElementById("searchBar");
			searchBar.addEventListener('change', function(){
				document.getElementById("searchQuery").submit();
			});

			//searchResultsContainer eventListener
			searchResults = document.getElementById("searchResultsContainerId").children;
			searchResults = Array.from(searchResults);
			searchResults.forEach(result => {
				result.onclick = function() {
					let cartQty = document.getElementById("cartQty");
					cartQty.textContent = Number(document.getElementById("cartQty").textContent) + 1;
					let itemInformation = Array.from(this.children);

					let cartItems = document.getElementById("cartItems");
					let itemInCart = document.createElement("div");
					itemInCart.setAttribute("class", "itemInCart");

					let itemImage = document.createElement("img");
					itemImage.src = itemInformation[0].src;

					let itemDescription = document.createElement("p");
					itemDescription.innerHTML = itemInformation[1].innerHTML;

					itemInCart.append(itemImage);
					itemInCart.append(itemDescription);
					cartItems.append(itemInCart);
					/*
					let itemJSON = {
						price: itemInformation[2].textContent,
						image: itemInformation[0].src,
						description: itemInformation[1].textContent,
					};
					//send item information to gmail
					fetch('/v1/gmailRequest', {
						method: 'POST',
						headers: {
								'Content-Type': 'application/json'
						},
						body: JSON.stringify(itemJSON)
					})*/
				}
			});
			//cart
			document.getElementById("cartBtn").addEventListener('click', function() {
				let cart = document.getElementById("shoppingCartContainer");
				cart.style.display = "flex";
			});
			//cart close
			document.getElementById("cartCloseBtn").addEventListener('click', function() {
				document.getElementById("shoppingCartContainer").style.display = "none";
			});
		</script>
	</body>
</html>
